body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
section{
	padding: 0 100px;
	height: 100vh;
	background: url(image/doggo.jpg);
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box{
	position: relative;
	max-width: 600px;
	padding: 50px;
	background: rgba(255,255,255,.2);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.box > h2{
	font-size: 27px;
}
.box > p{
	margin: 0;
	padding: 0;
	font-size: 18px;
	letter-spacing: -1px;
	line-height: 1.5;
}